<a href="https://colab.research.google.com/github/GabrielTB1/Python_Pandas_tratando_e_analisando_dados/blob/main/Data_Visualization_explorando_com_Seaborn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importando base de dados**

In [64]:
import pandas as pd

In [65]:
pd.read_csv('tips.csv', sep = ',')

     total_bill   tip dessert   day    time  size
0         16.99  1.01      No   Sun  Dinner     2
1         10.34  1.66      No   Sun  Dinner     3
2         21.01  3.50      No   Sun  Dinner     3
3         23.68  3.31      No   Sun  Dinner     2
4         24.59  3.61      No   Sun  Dinner     4
..          ...   ...     ...   ...     ...   ...
239       29.03  5.92      No   Sat  Dinner     3
240       27.18  2.00     Yes   Sat  Dinner     2
241       22.67  2.00     Yes   Sat  Dinner     2
242       17.82  1.75      No   Sat  Dinner     2
243       18.78  3.00      No  Thur  Dinner     2

[244 rows x 6 columns]

In [66]:
dados = pd.read_csv('tips.csv', sep = ',')

In [67]:
dados.head()

   total_bill   tip dessert  day    time  size
0       16.99  1.01      No  Sun  Dinner     2
1       10.34  1.66      No  Sun  Dinner     3
2       21.01  3.50      No  Sun  Dinner     3
3       23.68  3.31      No  Sun  Dinner     2
4       24.59  3.61      No  Sun  Dinner     4

# **TraduÃ§Ã£o**

In [68]:
dados.columns

Index(['total_bill', 'tip', 'dessert', 'day', 'time', 'size'], dtype='object')

In [69]:
renomear = {
    'total_bill' : 'valor_da_conta',
    'tip' : 'gorjeta', 
    'dessert' : 'sobremesa',
    'day' : 'dia_da_semana',
    'time' : 'hora_do_dia',
    'size' : 'total_de_pessoas'
}

In [70]:
type(dados)

pandas.core.frame.DataFrame

In [71]:
gorjetas = dados.rename(columns = renomear)

In [72]:
gorjetas.head()

,valor_da_conta,gorjeta,sobremesa,dia_da_semana,hora_do_dia,total_de_pessoas
0,16.99,1.01,No,Sun,Dinner,2
1,10.34,1.66,No,Sun,Dinner,3
2,21.01,3.50,No,Sun,Dinner,3
3,23.68,3.31,No,Sun,Dinner,2
4,24.59,3.61,No,Sun,Dinner,4

In [73]:
gorjetas.sobremesa.unique()

array(['No', 'Yes'], dtype=object)

In [74]:
sim_nao = {
    'No' : 'NÃ£o',
    'Yes' : 'Sim'
}

In [75]:
gorjetas.sobremesa.map(sim_nao)

0      NÃ£o
1      NÃ£o
2      NÃ£o
3      NÃ£o
4      NÃ£o
      ...
239    NÃ£o
240    Sim
241    Sim
242    NÃ£o
243    NÃ£o
Name: sobremesa, Length: 244, dtype: object

In [76]:
gorjetas.head(1)

,valor_da_conta,gorjeta,sobremesa,dia_da_semana,hora_do_dia,total_de_pessoas
0,16.99,1.01,No,Sun,Dinner,2

In [77]:
gorjetas.sobremesa = gorjetas.sobremesa.map(sim_nao)

In [78]:
gorjetas.head(1)

,valor_da_conta,gorjeta,sobremesa,dia_da_semana,hora_do_dia,total_de_pessoas
0,16.99,1.01,NÃ£o,Sun,Dinner,2

In [79]:
gorjetas.dia_da_semana.unique()

array(['Sun', 'Sat', 'Thur', 'Fri'], dtype=object)

In [80]:
dias = {
    'Sun' : 'Domingo',
    'Sat' : 'SÃ¡bado',
    'Thur' : 'Quinta',
    'Fri' : 'Sexta'
}

In [81]:
gorjetas.dia_da_semana = gorjetas.dia_da_semana.map(dias)

In [82]:
gorjetas

,valor_da_conta,gorjeta,sobremesa,dia_da_semana,hora_do_dia,total_de_pessoas
0,16.99,1.01,NÃ£o,Domingo,Dinner,2
1,10.34,1.66,NÃ£o,Domingo,Dinner,3
2,21.01,3.50,NÃ£o,Domingo,Dinner,3
3,23.68,3.31,NÃ£o,Domingo,Dinner,2
4,24.59,3.61,NÃ£o,Domingo,Dinner,4
...,...,...,...,...,...,...
239,29.03,5.92,NÃ£o,SÃ¡bado,Dinner,3
240,27.18,2.00,Sim,SÃ¡bado,Dinner,2
241,22.67,2.00,Sim,SÃ¡bado,Dinner,2
242,17.82,1.75,NÃ£o,SÃ¡bado,Dinner,2
243,18.78,3.00,NÃ£o,Quinta,Dinner,2

In [83]:
gorjetas.dia_da_semana.unique()

array(['Domingo', 'SÃ¡bado', 'Quinta', 'Sexta'], dtype=object)

In [84]:
gorjetas.hora_do_dia.unique()

array(['Dinner', 'Lunch'], dtype=object)

In [85]:
hora = {
    'Dinner' : 'Jantar',
    'Lunch' : 'AlmoÃ§o'
}

In [86]:
gorjetas.hora_do_dia = gorjetas.hora_do_dia.map(hora)

In [87]:
gorjetas.head()

,valor_da_conta,gorjeta,sobremesa,dia_da_semana,hora_do_dia,total_de_pessoas
0,16.99,1.01,NÃ£o,Domingo,Jantar,2
1,10.34,1.66,NÃ£o,Domingo,Jantar,3
2,21.01,3.50,NÃ£o,Domingo,Jantar,3
3,23.68,3.31,NÃ£o,Domingo,Jantar,2
4,24.59,3.61,NÃ£o,Domingo,Jantar,4